:root {
  --main-color: rgb(44, 117, 255);
  --secondary-color: rgb(255,60,25);
  --territiary-color: rgb(0,88,255);
}

html,body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}


.App {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;

}

h1,h2,h3,h4,h5,h6,.wrapper,#editor{
  color: var(--territiary-color);
}

#editor {
  border: none;
  box-shadow: 10px 10px 5px 0px rgba(0,88,255,0.9);
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: auto;
  font-size: 18px;
}

#preview {
  background-color: rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px 0px rgba(0,88,255,0.9);
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 960px;
}

.wrapper:last-of-type{
  margin-bottom: 15px;
}

.wrapper h2 {
  text-align: center;
}